*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  body{
    font-family: 'Montserrat', sans-serif;
  }

.container{
    margin: auto;
    width: 62%;
    padding: 25px 150px;
}

img{
    height: 100%;
    width: 100%;
}

.img-hover{
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.card{
    height: 600px;
    width: 400px;
    float: left;
    margin-right: 18px;
    margin-bottom: 110px;
    position: relative;
    
}

.sconto{
    background-color: rgb(235, 0, 55);
    position:absolute;
    bottom: 20px;
    left: 0px;
    color: white;
    padding: 4px;
    font-size: 12px;
    font-weight: 600;
}

.eco{
    background-color: rgb(1, 135, 90);
    position: absolute;
    bottom: 20px;
    left: 42px;
    color: white;
    padding: 4px;
    font-size: 12px;
    font-weight: 600;
}

.like{
    background-color: white;
    height: 30px;
    width: 30px;
    position: absolute;
    right: 0;
    top: 15px;
    text-align: center;
    line-height: 30px;
    font-size: 22px;
}

#nosale{
    position: absolute;
    left: 0;
}
/* rgb(255 115 112) */

.brand{
    font-size: 12px;
}

.description-product{
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.price{
    color: red;
    font-weight: bold;

}

.presale{
    text-decoration: line-through;
    color: black;
    font-weight: 400;
}

.card:hover .like{
    color: red;
}

.card:hover .img-hover{
    display: inline;
}
